#technologies .technology {
  width: calc((4/12) * 100%);
  margin: 5px 0;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  #technologies .technology {
    width: calc((3/12) * 100%);
  }
}

@media (min-width: 1200px) {
  #technologies .technology {
    width: calc((2/12) * 100%);
  }
}

#technologies .technology img {
  width: 64px;
  height: 64px;
}

@media (min-width: 992px) {
  #technologies .technology img {
    width: 96px;
    height: 96px;
  }
}

@media (min-width: 1200px) {
  #technologies .technology img {
    width: 128px;
    height: 128px;
  }
}

#technologies .technology .rates span {
  margin: 0px 2px;
}

#technologies .technology .rates .checked {
  color: pink;
}