body{
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

#app{
  img#banner{
    width: 100%;
    @media (max-width: 768px) {height: 150px}
    @media (min-width: 768px) {height: 200px}
    @media (min-width: 1200px) {height: 250px}
    @media (min-width: 1400px) {height: 300px}
  }
  
  main{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {flex-direction: column-reverse}
  }

  #content{
    width: 100%;
    @media (min-width: 768px) { width: calc((9/12) * 100%); }
    @media (min-width: 1200px) { width:  calc((10/12) * 100%) }

    padding-right: 10px;

    @media (max-width: 768px) { border-right: none; padding: 0px }

    border-right: 1px solid lightgray;
    box-sizing: border-box;
  }

  section{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;

    header{
      font-weight: bold;
      font-size: 28px;
      border-bottom: 2px solid lightgray;
      margin-bottom: 10px;
      padding-bottom: 2px;
    }
  }

  section:last-child{
    border-bottom: none;
  }

  #info{
    width: 100%;
    @media (min-width: 768px) { width: calc((3/12) * 100%) }
    @media (min-width: 1200px) { width:  calc((2/12) * 100%) }

    text-align: center;
   
    img{
      @media (min-width: 768px) { width: 80%; margin-top: 10px; }
    }
  }
}

//! TECHNOLOGIES
#technologies{
  .technology{
    width: calc((4/12) * 100%);
    @media (min-width: 576px) { width: calc((3/12) * 100%); }
    @media (min-width: 1200px) { width:  calc((2/12) * 100%) }
    
    margin: 5px 0;
    box-sizing: border-box;

    img{
      width: 64px; height: 64px;
      @media (min-width: 992px) { width: 96px; height: 96px }
      @media (min-width: 1200px) { width: 128px; height: 128px }
    }

    .rates{
      span{margin: 0px 2px;}
      .checked{color:pink}
    }
  }
}

 //! EDUCATION
 #education {
  div{ 
    margin: 5px 0;
    &:last-child{ margin: 0 }
   }
}

//! COURSES
#courses{
  .course{
    margin: 5px 0;
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
  
    &:first-child{ padding-top: 0px }
    &:last-child{  margin: 0; padding-bottom: 0px; border: none }

    div{ 
      margin: 7px 0; 
      &:first-child{ margin: 0 }
      &:last-child{ margin: 0 }
      a{text-decoration: none; color: #0d6efd }
    }
  }
}

#projects{
  .project{
    margin: 5px 0;
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
    position: relative;
  
    &:first-child{ padding-top: 0px }
    &:last-child{  margin: 0; padding-bottom: 0px; border: none }

    a{text-decoration: none; color: #0d6efd }
    .title {margin-bottom: 5px;}

    .git{margin-top: 8px}

    .link {
      position: absolute;
      border: none;
      margin: none;
      padding: none;

      right: 5px;
      bottom: 2px;

      span{ font-size: 17px }
    }
  }
}