#technologies{
   .technology{
     width: calc((4/12) * 100%);
     @media (min-width: 576px) { width: calc((3/12) * 100%); }
     @media (min-width: 1200px) { width:  calc((2/12) * 100%) }
     
     margin: 5px 0;
     box-sizing: border-box;
 
     img{
       width: 64px; height: 64px;
       @media (min-width: 992px) { width: 96px; height: 96px }
       @media (min-width: 1200px) { width: 128px; height: 128px }
     }
 
     .rates{
       span{margin: 0px 2px;}
       .checked{color:pink}
     }
   }
 }